In [1]:
import pandas as pd
from psycopg2 import connect, extensions, sql
from sqlalchemy import create_engine
import psycopg2 
import sqlalchemy
import io

In [2]:
def fix_desc(x):
    if x:
        return " ".join(x.split())
    else:
        return None

In [3]:
all_pods = pd.read_pickle("all_pods.pkl")
all_matches_episodes = pd.read_pickle("all_matches_episode_based.pkl")
all_matches_meanvec = pd.read_pickle("all_matches_mean_vec_based.pkl")

In [4]:
all_pods["descriptions"] = all_pods["descriptions"].apply(fix_desc)

In [5]:
g1 = all_matches_episodes.groupby(by="itunes_id")

In [6]:
all_pods.columns

Index(['itunes_id', 'titles', 'descriptions', 'genre', 'subgenre',
       'artwork_url', 'x_tsne', 'y_tsne', 'color'],
      dtype='object')

In [7]:
matches_string = []
scores_string = []
for key, vals in g1.groups.items():
    matches_string.append(",".join([str(v) for v in all_matches_episodes.loc[vals,"match_id"].to_list()]))
    scores_string.append(",".join(["{:.4f}".format(v) for v in all_matches_episodes.loc[vals,"score"].to_list()]))

In [8]:
all_matches_episodes2 = pd.DataFrame(columns=["itunes_id","match_id","score"])
all_matches_episodes2["itunes_id"]=list(g1.groups.keys())
all_matches_episodes2["match_id"]=matches_string
all_matches_episodes2["score"]=scores_string
all_matches_episodes2

,itunes_id,match_id,score
0,73329284,"634849863,670199157,1500173416,772127662,73330...","5.8909,3.1167,3.0000,1.4423,0.8800,0.8462,0.78..."
1,73329293,"276266378,1506823267,1480592906,1444464816,150...","21.1833,5.4571,4.9348,4.5217,3.7143,3.4833,3.1..."
2,73329404,"326120877,478840375,73331167,179237749,5536042...","3.7000,3.5000,2.5500,1.2000,1.1000,0.5200,0.40..."
3,73329429,"1458090433,1225041640,1039751243,1523976745,14...","3.5143,3.4000,2.7067,2.1000,0.8824,0.7160,0.62..."
4,73329520,"1146781072,1057045285,1042017993,1219424878,15...","10.3000,7.8651,7.6985,7.4167,6.3846,6.2766,5.9..."
...,...,...,...
19705,1530247318,"1223817465,1522241906,279428154,1354632347,832...","0.5833,0.5185,0.4700,0.4667,0.3767,0.3594,0.32..."
19706,1530252083,"1479266398,1508186490,931302188,1525968159,137...","0.3333,0.2500,0.2059,0.1429,0.1228,0.1176,0.11..."
19707,1530253693,"1499999657,1286668201,1481410888,1122107410,15...","1.1233,0.7500,0.5714,0.4444,0.3333,0.2941,0.29..."
19708,1530267665,"1517079631,1467639214,1488402669,1524740282,15...","2.4286,1.2283,0.7692,0.7500,0.7333,0.6667,0.59..."
19709,1530300552,"1439696347,1457505670,1446966686,1499722940,14...","0.8095,0.5714,0.4861,0.4167,0.4167,0.4000,0.35..."

In [9]:
g2 = all_matches_meanvec.groupby(by="itunes_id")
matches_string = []
scores_string = []
for key, vals in g2.groups.items():
    matches_string.append(",".join([str(v) for v in all_matches_meanvec.loc[vals,"match_id"].to_list()]))
    scores_string.append(",".join(["{:.6f}".format(v) for v in all_matches_meanvec.loc[vals,"score"].to_list()]))

In [10]:
all_matches_meanvec2 = pd.DataFrame(columns=["itunes_id","match_id","score"])
all_matches_meanvec2["itunes_id"]=list(g2.groups.keys())
all_matches_meanvec2["match_id"]=matches_string
all_matches_meanvec2["score"]=scores_string
all_matches_meanvec2

,itunes_id,match_id,score
0,73329284,"634849863,1482575855,670199157,1440051086,3246...","0.997581,0.995797,0.995560,0.994492,0.994370,0..."
1,73329293,"327449279,375802058,567144989,276266378,785610...","0.994037,0.994037,0.993954,0.993851,0.992496,0..."
2,73329404,"478840375,326120877,1355212895,73331167,430333...","1.000000,0.993236,0.989902,0.989621,0.987791,0..."
3,73329429,"1450970067,1252878262,1458090433,1225041640,29...","0.991102,0.990869,0.990598,0.990245,0.989191,0..."
4,73329520,"864068000,1390616261,1219424878,1146781072,144...","0.983041,0.982952,0.982862,0.980380,0.980377,0..."
...,...,...,...
19705,1530247318,"1509092730,1441708286,1439938902,448302257,109...","0.987239,0.982418,0.982327,0.982319,0.982129,0..."
19706,1530252083,"1437348106,961837133,1484425155,968956607,4062...","0.967387,0.966677,0.966624,0.966237,0.964922,0..."
19707,1530253693,"959437715,1122107410,1450858380,1500776650,144...","0.991564,0.991560,0.991404,0.990500,0.990322,0..."
19708,1530267665,"1467639214,1499830163,1517104457,1488402669,15...","0.993485,0.993094,0.992582,0.991348,0.991166,0..."
19709,1530300552,"1446966686,1456437937,1188898432,1204749824,14...","0.990869,0.990640,0.990156,0.990126,0.990120,0..."

In [11]:
all_pods

,itunes_id,titles,descriptions,genre,subgenre,artwork_url,x_tsne,y_tsne,color
0,76069540,The Weekly Mix,"Formerly titled “Music That Matters,” The Week...",Arts,Arts,https://is3-ssl.mzstatic.com/image/thumb/Podca...,-46.859306,-8.454377,18
1,121534955,On Point,Go behind the headlines: From the economy and ...,Arts,Arts,https://is4-ssl.mzstatic.com/image/thumb/Podca...,-21.123329,53.798443,18
2,257042117,Philosophy Bites,"David Edmonds (Uehiro Centre, Oxford Universit...",Arts,Arts,https://is5-ssl.mzstatic.com/image/thumb/Podca...,-3.864636,42.792244,18
3,279188498,Slate Culture,Get the Culture Gabfest and all of Slate's cul...,Arts,Arts,https://is4-ssl.mzstatic.com/image/thumb/Podca...,-22.512302,-12.504962,18
4,349527672,Spilled Milk,"Every week on Spilled Milk, writers/comedians ...",Arts,Arts,https://is5-ssl.mzstatic.com/image/thumb/Podca...,11.185771,-3.247648,18
...,...,...,...,...,...,...,...,...,...
19705,1523543528,The Piketon Massacre,"On the night of April 21, 2016 in rural Piketo...",True Crime,True Crime,https://is4-ssl.mzstatic.com/image/thumb/Podca...,-10.225857,18.441771,0
19706,1524730356,Every Town,Every Town has a dark side. In each episode we...,True Crime,True Crime,https://is2-ssl.mzstatic.com/image/thumb/Podca...,-36.867191,-2.462060,0
19707,1525749557,Morally Indefensible,"From Marc Smerling, the creator behind The Jin...",True Crime,True Crime,https://is3-ssl.mzstatic.com/image/thumb/Podca...,-12.644113,15.512759,0
19708,1525805825,Billionaire Boys Club,"In 1980s Los Angeles, a group of prep school b...",True Crime,True Crime,https://is5-ssl.mzstatic.com/image/thumb/Podca...,-7.694433,-21.851326,0
19709,1527772333,Escaping NXIVM,"NXIVM (pronounced ""Nexium"") calls itself a hum...",True Crime,True Crime,https://is5-ssl.mzstatic.com/image/thumb/Podca...,-8.618074,15.374432,0

In [12]:
engine = create_engine('postgresql+psycopg2://naeem:mypass@localhost:5432/podcasts')

In [13]:
all_pods.head(0).to_sql('all_pods', engine, if_exists='replace',index=False)
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
all_pods.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'all_pods', null="") # null values become ''
conn.commit()

In [14]:
all_matches_episodes2.head(0).to_sql('all_matches_episodes', engine, if_exists='replace',index=False)
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
all_matches_episodes2.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'all_matches_episodes', null="") # null values become ''
conn.commit()

In [15]:
all_matches_meanvec2.head(0).to_sql('all_matches_meanvec', engine, if_exists='replace',index=False)
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
all_matches_meanvec2.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'all_matches_meanvec', null="") # null values become ''
conn.commit()

## Let's see if it works...

In [16]:
conn = psycopg2.connect(dbname="podcasts", user="naeem", password="mypass", host="localhost", port="5432")
cursor = conn.cursor()

In [17]:
query = "SELECT itunes_id FROM all_pods WHERE titles in ('Fresh Air', 'This American Life');"
cursor.execute(query)
cursor.fetchall()

[('214089682',), ('201671138',)]

In [18]:
query = "SELECT match_id, score FROM all_matches_meanvec WHERE itunes_id = '1518397004';"
cursor.execute(query)
recom_list1 = cursor.fetchone()
recom_list1

('1203032524,391274500,1076142249,1475077005,881260378,1521653058,1335837661,1479465198,1495873158,1197086982,1330252360,1486172817,1195253252,959437715,1274746659,1511094170,1463163344,1234030579,1473298518,1515055586,1318394263,1437597256,1387178862,1247251812,389446869,1016392612,1463362888,1488155808,1491031919,1493079239,1439091523,1503595294,1466381891,1473240228,1447765757,1513630621,1062151999,1496462745,1520097347,1435437587,1450858380,650657153,1524772200,1201483158,1491751989,527614348,1484889405,1294445691,1500776650,1348747666,1509518859,1286668201,1504753252,1499999657,879629380,1440323217,1147459691,354556964,1459956041,1158546491,1122107410,1513602017,1482845057,1122056880,1364786016,1500051723,1503582451,1504267972,1349436014,1491097639,1528303003,1415425273,1490178877,1476299087,1481410888,1509269608,1487916617,1422177485,1488311438,1516708783,315543269,1458420685,1465527694,1060671460,1522107528,1511224743,1107849049,1508483718,305590390,1504004082,1496946095,1519527579,1499134449,1504016736,1296427968,1493426763,1517626890,1493595343,1519835604,1500648495',
 '0.989370,0.988769,0.988679,0.988377,0.988223,0.988139,0.988076,0.987790,0.987415,0.987141,0.987001,0.986870,0.986525,0.986520,0.986444,0.986363,0.986106,0.986073,0.986023,0.985974,0.985970,0.985694,0.985647,0.985502,0.985495,0.985420,0.985234,0.985050,0.985036,0.984987,0.984915,0.984686,0.984483,0.984351,0.984292,0.984273,0.984195,0.983920,0.983850,0.983725,0.983577,0.983558,0.983533,0.983522,0.983511,0.983448,0.983362,0.983284,0.983217,0.983214,0.982988,0.982950,0.982916,0.982818,0.982815,0.982807,0.982804,0.982651,0.982510,0.982499,0.982442,0.982380,0.982357,0.982316,0.982298,0.982295,0.982196,0.982044,0.982032,0.982028,0.981901,0.981882,0.981818,0.981796,0.981675,0.981661,0.981637,0.981559,0.981516,0.981367,0.981190,0.981002,0.981001,0.981000,0.980959,0.980844,0.980632,0.980577,0.980460,0.980094,0.979710,0.979697,0.979603,0.979589,0.979366,0.979247,0.979200,0.979040,0.979037,0.978992')

In [19]:
itunes_ids = recom_list1[0].split(',')
query = "SELECT itunes_id, titles FROM all_pods WHERE itunes_id IN %s;"
cursor.execute(query, (tuple(itunes_ids),))
cursor.fetchall()[:10]

[('1484889405', 'Momento Upgrade'),
 ('1466381891', 'Happy Designer'),
 ('1076142249', 'Libros para Emprendedores'),
 ('1330252360', 'MENTOR360'),
 ('1522107528', 'Emprendeduros'),
 ('1450858380', 'Cracks Podcast con Oso Trava'),
 ('1495873158', 'Estrategia, Negocios y Dinero Podcast'),
 ('1274746659', 'Negocios Entre Pañales con Paola Elízaga'),
 ('1247251812', 'Vivir Viajando, el podcast de Antonio G.'),
 ('879629380', 'Marketing Online')]